<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>

</style>
<body>
  <%- include('header') %>

<div class="admin-wrapper">

    <!-- Header -->
    <header class="admin-header">
        <h1>Admin Dashboard</h1>
    </header>

    <!-- Content -->
    <main class="admin-content">

        <!-- Stats -->
        <section class="admin-stats">
            <div class="admin-stat-card">
                <h3>Total Players</h3>
                <p>30</p>
            </div>
            <div class="admin-stat-card">
                <h3>Completed Events</h3>
                <p>5</p>
            </div>
            <div class="admin-stat-card">
                <h3>Upcomming Events</h3>
                <p>2</p>
            </div>
        </section>

        <!-- Actions -->
        <section class="admin-actions">
            <a href="/addplayer" class="admin-action-card">➕ Add Player</a>
            <a href="/manageplayer" class="admin-action-card">📅 Manage Players</a>
            <a href="/addevent" class="admin-action-card">➕ Add Event</a>
            <a href="#" class="admin-action-card">📅 Add Event</a>
            <a href="#" class="admin-action-card">📅 Add Event</a>
        </section>

    </main>

</div>

</body>
</html>
